<div th:fragmen="dataContent">
    <div class="cards-container">

        <div class="card">
            <h2>Checks</h2>
            <ul>
                <li>Id</li>
                <li>Peer</li>
                <li>Task</li>
                <li>Date</li>
            </ul>
        </div>

        <div class="card">
            <h2>Friends</h2>
            <ul>
                <li>Id</li>
                <li>First peer</li>
                <li>Second peer</li>
            </ul>
        </div>

        <div class="card">
            <h2>P2P</h2>
            <ul>
                <li>Id</li>
                <li>Related Check</li>
                <li>Checking Peer</li>
                <li>State</li>
                <li>Time</li>
            </ul>
        </div>

        <div class="card">
            <h2>Peers</h2>
            <ul>
                <li>Nickname</li>
                <li>Birthday</li>
            </ul>
        </div>

        <div class="card">
            <h2>Recommendations</h2>
            <ul>
                <li>Id</li>
                <li>Peer</li>
                <li>Recommended Peer</li>
            </ul>
        </div>

        <div class="card">
            <h2>Tasks</h2>
            <ul>
                <li>Title</li>
                <li>Parent Task</li>
                <li>Maximum XP</li>
            </ul>
        </div>

        <div class="card">
            <h2>Time Tracking</h2>
            <ul>
                <li>Id</li>
                <li>Peer</li>
                <li>Date</li>
                <li>Time</li>
                <li>State</li>
            </ul>
        </div>

        <div class="card">
            <h2>Transfered Points</h2>
            <ul>
                <li>Id</li>
                <li>Checking Peer</li>
                <li>Checked Peer</li>
                <li>Points Amount</li>
            </ul>
        </div>

        <div class="card">
            <h2>Verter</h2>
            <ul>
                <li>Id</li>
                <li>Related Check</li>
                <li>State</li>
            </ul>
        </div>

        <div class="card">
            <h2>XP</h2>
            <ul>
                <li>Id</li>
                <li>Related Check</li>
                <li>XP Amount</li>
            </ul>
        </div>

    </div>
</div>