<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Info</title>
    <link rel="stylesheet" type="text/css" href="styles/main.css"><link rel="stylesheet">
</head>
<body>

    <header>
        <nav>
            <ul class="menu">
                <li><a href="#">Главная</a></li>
                <li><a href="#">Данные</a></li>
                <li><a href="#">Операции</a></li>
            </ul>
        </nav>
    </header>

    <div th:replace="~{data}"></div>

</body>
</html>